apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-demo
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-demo
  template:
    metadata:
      labels:
        app: devops-demo
    spec:
      containers:
        - name: app
          image: ozennondocker/devops-demo:latest
          ports:
            - containerPort: 3000